<log4net>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
        <file value="c:\logs\NSIWS.log"/>
        <rollingStyle value="Date"/>
        <datePattern value="yyyyMMdd"/>
        <appendToFile value="true"/>
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%level %logger %date{ISO8601} - %message%newline"/>
        </layout>
        <!-- TODO filter for dataflow logger ?-->
    </appender>
    <appender name="DataflowLogger" type="log4net.Appender.RollingFileAppender">
        <file value="App_Data/dataflow_logging.csv"/>
        <rollingStyle value="Size"/>
        <maximumFileSize value="100MB" />
        <maxSizeRollBackups value="10" />
        <datePattern value="yyyyMMdd"/>
        <appendToFile value="true"/>
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%d{yyyy-MM-dd HH:mm:ss,fff};%m%n"/>
        </layout>
    </appender>
    <root>
        <!-- Options are "ALL", "DEBUG", "INFO", "WARN", "ERROR", "FATAL" and "OFF". -->
        <level value="DEBUG"/>
        <appender-ref ref="RollingFile"/>
    </root>
    <!-- Comment out the following to disable logging dataflow requests -->
    <logger name="org.estat.nsiws.dataflowlogger" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="DataflowLogger" />
    </logger>
</log4net>
